{% extends "Projet_Final/base.html" %}
{% block content %}
<section class="password-reset-confirm-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="password-reset-confirm-content">
                    <h2>Reset Your Password</h2>
                    <p>Enter a new password for your account.</p>

                    <form method="post">
                        {% csrf_token %}
                        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                        <button type="submit">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
