{% extends "Projet_Final/base.html" %}
{% block content %}
<section class="password-reset-complete-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="password-reset-complete-content">
                    <h2>Password Reset Complete</h2>
                    <p>Your password has been successfully reset. You can now log in using your new password.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
